.catalogHeader {
   margin-top: 21px;
   display: flex;
   justify-content: space-between;
   align-items: center;
   width: 1240px;
   height: 68px;
   margin-left: auto;
   margin-right: auto;
}

.catalogHeader>div {
   width: 413px;
   text-align: center;
}

.catalogHeader>div:first-child {
   display: flex;
   align-items: center;
}

.none730 p:first-child {
   font-family: "Montserrat", sans-serif;
   margin-bottom: 0;
   font-size: 12px;
   font-weight: 500;
   line-height: 16px;
   color: #091A2A;
   opacity: 0.5;
   text-align: right;
   padding-right: 16px;
}

.none730 p:last-child {
   margin-top: 0;
   font-family: "Montserrat", sans-serif;
   font-size: 15px;
   font-weight: 600;
   line-height: 16px;
   color: #091A2A;
   text-align: right;
}

.catalogHeader>div:first-child img {
   margin-right: 12px;

}



.catalogHeader>div:first-child>div {
   display: flex;
   align-items: center;
}

.catalogHeader>div:first-child>div>a {
   display: block;
   font-size: 13px;
   font-weight: 600;
   line-height: 15.73px;
   text-decoration: none;
   margin-right: 17px;
   padding: 8px 17px 8px 0;
   color: #091A2A;
}

.flexnav {
   width: 163px;
   margin-top: -8px;
   display: flex;
   align-items: center;
}

.flexnav img {
   width: 20px;
   height: 20px;
   position: relative;
   top: 4px
}

.catalogHeader>div:first-child>div>a:first-child {
   border-right: 1px solid #eee;
}

.menuDark {
   display: none;
   width: 38px;
   height: 38px;
   cursor: pointer;
}


.background4 {
   position: relative;
   width: 100%;
   margin-top: -100px;
   z-index: 5;
}

.footer {
   position: relative;
   width: 1240px;
   margin-left: auto;
   margin-right: auto;
   z-index: 4;
}


.contact {
   width: 154px;
   height: 46px;
   top: 4175px;
   left: 340px;
   border-radius: 100px;
   border: 1px solid #2A1055;
   display: flex;
   align-items: center;
   justify-content: center;
}

.flexcolumn {
   display: flex;
   flex-wrap: wrap;
   align-items: center;
}

.flexrow {
   margin-top: 32px;
   width: 100%;
   display: flex;
   align-items: center;
   justify-content: space-between;
}


.contact p {
   font-family: "Inter", sans-serif;
   font-size: 13px;
   font-weight: 500;
   line-height: 15.73px;
   letter-spacing: 0.02em;
   color: #2A1055;
}

a.bottomnav {
   font-size: 17px;
   font-weight: 400;
   line-height: 18px;
   text-align: left;
   text-decoration: none;
   display: block;
   margin-right: 21px;
   color: #2A1055;
   cursor: pointer;
}

p.bottomnav {
   margin-top: 0;
   margin-bottom: 0;
   font-size: 15px;
   font-weight: 400;
   line-height: 18px;
   text-align: left;
   text-decoration: none;
   display: block;
   margin-right: 21px;
   color: #2A1055;
   opacity: 0.6;
}

a.bottomnav:hover,
.flex>svg:hover {
   opacity: 0.3;
   cursor: pointer;
}

.background5 {
   position: relative;
   margin-top: 19px;
   width: 100%;
   height: 77px;
   background-color: #2A1055;
   z-index: 4;
}

.container3 {
   width: 1240px;
   height: 77px;
   margin-left: auto;
   margin-right: auto;
   display: flex;
   align-items: center;
}

.container3 p {
   font-size: 13px;
   font-weight: 400;
   line-height: 18.79px;
   color: #fff;
   margin-right: 32px;
}

.show {
   margin-top: 24px;
   margin-bottom: 0;
   display: none;
   font-size: 15px;
   font-weight: 400;
   line-height: 18px;
   color: #2A1055;
   opacity: 0.6;
}

.p,
.p1 {
   margin-right: 30px;
   font-size: 17px;
   font-weight: 400;
   line-height: 18px;
   color: #2A1055;
}

.p1 {
   margin-right: 0;
   display: none;
}

.flexcolumn>svg {
   margin-right: 30px;
}

.flexcolumn>svg:last-child {
   margin-right: 0;
}

.flexfooter {
   display: flex;
   align-items: center;
   justify-content: space-between;
}

.flexfooter>div {
   display: flex;
   flex-wrap: wrap;
   align-items: center;
}



p.outfit {
   color: #FFF;
   font-family: "Outfit", sans-serif;
   font-size: 17px;
   font-style: normal;
   font-weight: 800;
   line-height: normal;
   margin-right: 0;
}




@media only screen and (max-width: 1240px) {

   .background4,
   .background5 {
      padding: 0 8px;
   }

   .container3,
   .footer, .catalogHeader {
      width: 100%;
   }

}

@media only screen and (max-width: 950px) {
   p.bottomnav {
      display: none;
   }

   .flexrow {
      margin-top: 20px;
   }

   .show {
      display: block;
   }

}

@media only screen and (max-width: 900px) {
   .catalogHeader{
      padding: 0 8px;
   }

   .p, .none730,
   .catalogHeader>div:first-child {
      display: none;
   }

   .p1 {
      display: block;
   }

   .menuDark {
      display: block;
   }

   .catalogHeader>div {
      width: auto;
   }

}

@media only screen and (max-width: 550px) {
   a.bottomnav {
      width: 100px;
      height: 37px;
   }

   .flexcolumn>svg {
      margin-right: 0;
      margin-left: 30px;
      margin-bottom: 20px;
   }

   .background5 {
      margin-top: 1px;
   }

   .container3 p {
     margin: 0;
     margin-right: 20px;
   }

   .flexfooter>div {
      width: 50%; 
   }

   .flexfooter p:first-child {
      width: 100%;
      margin-bottom: 8px;
   }


   .flexfooter>div:last-child p {
      width: 100%;
      margin-right: 0;
      text-align: right;
   }

}