@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Jost:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

body {
   font-family: "Jost", sans-serif;
   letter-spacing: 0.8px;
   margin: 0;
   overflow-x: hidden;


}



* {
   box-sizing: border-box;
}

a:hover {
   opacity: 0.3;
   cursor: pointer;
}

.main1 {
   width: 100%;
}

.background1 {
   width: 100%;
   height: 764px;
   background-color: rgba(45, 3, 114, 1);
   overflow-y: hidden;
}

.backfon {
   position: relative;
   width: 1331px;
   height: 764px;
   margin-left: auto;
   margin-right: auto;
}


.container2 {
   max-width: 1331px;
   margin-left: auto;
   margin-right: auto;
   background-color: inherit;

}

.flex {
   display: flex;
   align-items: center;
}


.fontop {
   position: absolute;
   height: 1700px;
   width: 1700px;
   top: -450px;
   animation: mymove 5.5s infinite alternate-reverse;
   animation-timing-function: ease-in-out;
   box-shadow: 60px 0 5px rgba(118, 3, 232, 0.4);
   filter: blur(35px);
   background-image: radial-gradient(#000427, #7603e8, #B100EF);

}

@keyframes mymove {
   from {
      left: 350px;
      border-radius: 2000px 600px 600px 2000px;
   }

   to {
      left: -100px;
      border-radius: 1000px 0 0 1000px;
   }
}


.fonbottom {
   position: absolute;
   top: 980px;
   left: -200px;
}


.header {
   width: 1331px;
   height: 59px;
   margin-top: 31px;
   font-size: 13px;
   color: #fff;
   justify-content: space-between;
}

.menu {
   margin-left: 50px;
   height: 34px;
   display: flex;
   align-items: center;
   cursor: pointer;
}

.menu:hover {
   opacity: 0.4;
}

.menu img {
   position: relative;
   top: 6px;
   width: 21px;
   height: 21px;
   margin-right: 8px;
}

.height21 {
   padding-top: 30px ;
}

.header a {
   margin-right: 33px;
   color: inherit;
   text-decoration: none;
   display: inline-block;
}

.hug {
   width: 226px;
   margin-top: 19px;
   text-align: center;
   padding: 11px 0;
   border: 2px solid #fff;
   border-radius: 30px;
   color: #fff;
   font-size: 15px;
   line-height: 16px;
}


.abs1,
.abs2,
.abs3,
.abs4,
.abs5,
.abs6,
.abs7,
.abs8,
.abs9,
.hug1,
.abs10,
.abs11,
.alp1,
.alp2,
.alp2,
.alp3,
.alp4,
.alp5,
.alp6 {
   position: relative;
}





.hero {
   width: 579px;
   height: 579px;
   position: absolute;
   top: 40px;
   animation: mymove2 5.5s infinite alternate-reverse;
   animation-timing-function: ease-in-out;
}

.vector1 {
   position: absolute;
   top: -89px;
   left: 49%;
   width: 5px;
   height: 140px;
   background-image: linear-gradient(to right, #fff, #7f18e5, #000427 50%, #fff );
   z-index: 1;
}

.hero img {
   position: absolute;
   top: 0px;
   left: 0;
   width: 579px;
   height: 579px;
   rotate: -10deg;
}

@keyframes mymove2{
   from {
      rotate: -10deg;
      left: 874px;
   }

   to {
      rotate: 10deg;
      left: 564px;
   }
}

.main {
   margin-top: 63px;
   height: 173px;
   text-align: left;
}

.abs7 {
   font-size: 54px;
   color: #fff;
   line-height: 78px;
   margin-bottom: 0;
}

.abs8 {
   font-family: 'Times New Roman', Times, serif;
   font-style: italic;
   font-size: 22px;
   letter-spacing: 0.1px;
   line-height: 24px;
   color: #fff;
   margin-top: -4px;
   margin-left: 170px;
}

.hug1 {
   margin-top: 27px;
   font-size: 16px;
   line-height: 23.12px;
   color: #fff;
   padding: 10px;
   width: 722px;
   text-align: center;
   border: 2px solid #fff;
   border-radius: 30px;
}

.abs10 {
   color: #fff;
   text-align: left;
   padding-left: 74px;
   margin-top: 174px;
   font-size: 22px;
   line-height: 31.79px;
}

.abs11 {
   font-size: 14px;
   font-family: 'Times New Roman', Times, serif;
   font-style: italic;
   color: #fff;
   text-align: left;
   width: 400px;
   margin-top: -8px;
}

.ellipses {
   width: 565px;
   margin-top: 41px;
   display: flex;
   justify-content: space-between;
}


.alp1 {
   width: 90px;
   height: 90px;
   border-radius: 50%;
   
}

.alp1 div {
   position: absolute;
   top: 0;
   left: 0;
   width: 90px;
   height: 90px;
   border-radius: 50%;
   background-image: url("./components/images/Ellipse\ 1_1.png");
   z-index: 1;
}


.alp1 img {
   display: none;
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   z-index: 2;
}

.alp1:hover img {
   display: block;
}

.alp2 {
   width: 90px;
   height: 90px;
   border-radius: 50%;
}


.alp2 div {
   position: absolute;
   top: 0;
   left: 0;
   width: 90px;
   height: 90px;
   border-radius: 50%;
   background-image: url("./components/images/Ellipse\ 2_2.png");
   z-index: 1;
}


.alp2 img {
   display: none;
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   z-index: 2;
}

.alp2:hover img {
   display: block;
}

.alp3 {
   width: 90px;
   height: 90px;
   border-radius: 50%;
}

.alp3 div {
   position: absolute;
   top: 0;
   left: 0;
   width: 90px;
   height: 90px;
   border-radius: 50%;
   background-image: url("./components/images/Ellipse\ 3_3.png");
   z-index: 1;
}


.alp3 img {
   display: none;
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   z-index: 2;
}

.alp3:hover img {
   display: block;
}

.alp4 {
   width: 90px;
   height: 90px;
   border-radius: 50%;
}

.alp4 div {
   position: absolute;
   top: 0;
   left: 0;
   width: 90px;
   height: 90px;
   border-radius: 50%;
   background-image: url("./components/images/Ellipse\ 4_4.png");
   z-index: 1;
}


.alp4 img {
   display: none;
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   z-index: 2;
}

.alp4:hover img {
   display: block;
}

.alp5 {
   width: 90px;
   height: 90px;
   border-radius: 50%;
}

.alp5 div {
   position: absolute;
   top: 0;
   left: 0;
   width: 90px;
   height: 90px;
   border-radius: 50%;
   background-image: url("./components/images/Ellipse\ 5_5.png");
   z-index: 1;
}


.alp5 img {
   display: none;
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   z-index: 2;
}

.alp5:hover img {
   display: block;
}

.alp6 {
   width: 90px;
   height: 90px;
   border-radius: 50%;
}

.alp6 div {
   position: absolute;
   top: 0;
   left: 0;
   width: 90px;
   height: 90px;
   border-radius: 50%;
   background-image: url("./components/images/Ellipse\ 6_6.png");
   z-index: 1;
}


.alp6 img {
   display: none;
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   z-index: 2;
}

.alp6:hover img {
   display: block;
}


